.bottom_section {
    position: absolute;
    width: 93%;
    padding: 3rem;
    background-color: #00567a;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.bottom_title {
    /* margin: 2rem; */
    margin-right: 30rem;
    margin-left: -1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: 'Noto Serif';
    color: white;
}

.bottom_content {
    margin: 2rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    /* font-family: 'Noto Serif'; */
    /* background-color: red; */
}

.bottom_statement {
    width: 60%;
    font-size: 1rem;
    color: white;
    font-family: 'Noto Serif';
}