.header {
    background-color: #00567a;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    /* height: 20rem; */
  }
  
  .title {
    margin: 2rem;
    font-size: 3rem;
    color: white;
    font-family: 'Noto Serif';
  }
  
  .scrolldown {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
    margin: 2rem;
    /* background-color: beige; */
    align-items: center;
  }
  
  .activites_page {
    padding: 0.5rem;
    font-size: 2rem;
    border-width: 0.2rem;
    border-bottom-style: solid;
    border-color: white;
    color: white;
    font-family: 'Noto Serif';
  }
  
  .founders_page {
    padding: 0.5rem;
    font-size: 2rem;
    border-width: 0.2rem;
    border-bottom-style: solid;
    border-color: white;
    color: white;
    font-family: 'Noto Serif';
    /* border-color: black;  */
  }
  
  .organizations_page {
    padding: 0.5rem;
    font-size: 2rem;
    border-width: 0.2rem;
    border-bottom-style: solid;
    border-color: white;
    color: white;
    font-family: 'Noto Serif';
  }
  
  .homepage {
    /* background-color: #ea8605; */
    height: 50rem;
  }