.header {
  background-color: #00567a;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
  /* height: 20rem; */
}

.title {
  margin: 2rem;
  font-size: 4rem;
  color: white;
}

.scrolldown {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 50rem;
  margin: 2rem;
  /* background-color: beige; */
  align-items: center;
}

.activites_page {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.founders_page {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.organizations_page {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}

.homepage {
  background-color: #ea8605;
  height: 50rem;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}